<!DOCTYPE html>
<html lang="en">
<head>
  {{ partial "head.html" . }}
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ $themeJs := resources.Get "js/theme-init.js" | js.Build (dict "minify" true) | fingerprint }}
  <script src="{{ $themeJs.Permalink }}" integrity="{{ $themeJs.Data.Integrity }}"></script>
</head>
<body class="antiques-body">
  <a href="#main-content" class="skip-link" id="skip-link">Skip to main content</a>
  {{ partial "header.html" . }}
  <main id="main-content" class="main-content" role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/main.js" | js.Build (dict "minify" true) | fingerprint }}
  <script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
</body>
</html>
